form {
    width: 350px;
}

div {
    margin: 0 0 10px 0;
}

input {
    float: right;
}

/* updated clearfix from CSS tricks */
.group:after {
  content: "";
  display: table;
  clear: both;
}