extends layout

include _includes/sharedHTMLfunctions

block content
  h1= title

  form(action="/dummy-submit", method="post")
    fieldset
      legend Standard Inputs
      +inputs("text", "text")
      +inputs("checkbox", "checkbox")
      +inputs("password", "password")
      +inputs("reset", "reset")
      +inputs("text_disabled", "text")(disabled)

      +inputs("submit", "submit")
