extends layout

include _includes/sharedHTMLfunctions

block content
  h1= title

  form(action="/dummy-submit", method="post")
    fieldset
      legend Standard Inputs
      +inputAndLabel("text")
      +inputAndLabel("password")
      +inputAndLabel("submit")
