extends layout

include _includes/sharedHTMLfunctions

block content
  h1= title
  ul
    li
      a(href="/forms") Forms
    li
      a(href="/tables") Tables
    li
      a(href="/inline-semantics") Inline Semantics
