extends layout

include _includes/sharedHTMLfunctions

block content

  table
    caption This is a table
    thead
      tr
        th heading 1
        th heading 2
        th heading 3
    tfoot
      tr
        td footer 1
        td footer 2
        td footer 3
    tbody
      tr
        td cell 11
        td cell 12
        td cell 13
      tr
        td cell 21
        td cell 22
        td cell 23
      tr
        td cell 31
        td cell 32
        td cell 33


